/* image captions */

figure {
    margin: 1.0em 0px;
    padding: 10px 0;
    text-align: center;
    page-break-inside: avoid;
    display: block;
}

figure img {
    display: block;
    margin: 0 auto;
}

figcaption {
    clear: left;
    margin: 1.0em 0 0 0;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 80%;
    color: #666;
    display: block;
}

.page .section p img {
    margin-top: 10px;
}

.page .section table img.faded {
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

/* hexagon, hexagram and six-spoked wheel */

figure#fig2\.3\.10,
figure#fig2\.3\.11,
figure#fig2\.3\.12 {
    float:left;
    width: 33%;
}

figure#fig4\.2,
figure#fig4\.3,
figure#fig4\.4 {
    float:left;
    width: 31%;
    margin: 0 5px;
}

figure#fig13\.1,
figure#fig13\.2,
figure#fig13\.3 {
    float:left;
    width: 31%;
    margin: 0 5px;
}

figure#fig13\.1 img,
figure#fig13\.2 img,
figure#fig13\.3 img {
    width: 80%;
}

figure#fig13\.1:after {
    content: "PDF";
}
figure#fig13\.2:after {
    content: "EPUB";
}
figure#fig13\.3:after {
    content: "MOBI";
}

figure#fig13\.1 figcaption,
figure#fig13\.2 figcaption,
figure#fig13\.3 figcaption {
    display: none;
}

/* table headers */

#page-book-details .details-readme section table thead,
div#README\.md table thead {
    display: none;
}

/* ul, ol list margin fix */

.page .section ol,
.page .section ul {
    margin-bottom: 10px;
}

/* no page break pdf/print definition */

div.nopb {
    page-break-inside: avoid;
}

/* note blocks */

div.note {
    background: #FCF8E3 none repeat scroll 0% 0%;
    color: #8A6D3B;
    padding: 15px 15px 0 15px;
    margin-bottom: 10px;
    border-bottom: 5px solid #DDD;
    border-color: #FAEBCC;
    page-break-inside: avoid;
}

div.note p {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* quotes */

.page .section blockquote {
    margin: 0 0 0 5%;
    font-style: italic;
}

/* google map page */

div#map\.md p {
    text-align: center;
}

div.googlemaps {
    display: none;
}

/* credits page */

.page .section ul.pictures {
    margin-left: -30px;
}

.page .section ul.pictures li {
    list-style: outside none none;
}

.page .section ul.pictures li a {
    float: left;
}

.page .section ul.pictures li span {
    display: block;
    margin-left: 100px;
}

/* citations */

.page .section sup {
    margin-left: -1px;
    margin-right: 2px;
}

.page .section sup:before {
    content: " ";
}

.page .section sup a {
    font-size: 75%;
}

.page .section ul.citations,
.page .section ul.references {
    margin-left: -30px;
}

.page .section ul.citations li:nth-child(1) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #BBB;
}

.page .section ul.citations li,
.page .section ul.references li {
    list-style: outside none none;
}

.page .section ul.citations li {
    font-size: 80%;
}

.page .section ul.citations li > span:nth-child(1),
.page .section ul.references li > span:nth-child(1) {
    display: block;
    float: left;
    text-align: left;
    width: 70px
}

.page .section ul.citations li > span:nth-child(1) {
    width: 50px
}

.page .section ul.references li div {
    margin-left: 70px;
}

.page .section ul.citations li div {
    margin-left: 50px;
}

.page .section a[href="#"],
.page .section a[href="#"]:link,
.page .section a[href="#"]:visited,
.page .section a[href="#"]:hover,
.page .section a[href="#"]:focus {
    text-decoration: none;
    color: inherit;
    cursor: text;
    font-style: italic;
}

/* self referential footnotes */

.page .section div[type="selfref"] a[href="#"],
.page .section div[type="selfref"] a[href="#"]:link,
.page .section div[type="selfref"] a[href="#"]:visited,
.page .section div[type="selfref"] a[href="#"]:hover,
.page .section div[type="selfref"] a[href="#"]:focus {
    font-style: normal;
}

.page .section div[type="selfref"] span:nth-child(1) {
    display: none;
}

/* part 1 and 2 image align */

div[data-filepath="part1/index.md"].book .book-body .page-wrapper .page-inner section#section-,
div[data-filepath="part2/index.md"].book .book-body .page-wrapper .page-inner section#section- {
    text-align: center;
}

/* big number */

div[data-filepath="part1/pointline.md"].book .book-body .page-wrapper .page-inner section#section- pre {
    text-align: center;
    font-size: 120%;
}

/* kalevala quote */

div[data-filepath="part1/pointline.md"].book .book-body .page-wrapper .page-inner section#section- blockquote {
    text-align: center;
    border: 0;
    margin: 0;
}

/* math image styles */

.page .section p img.svg,
.page .section p img.png {
    margin-top: 0px;
    margin-bottom: -2px;
}

.page .section p img.math {
    vertical-align: middle;
    height: auto; 
    width: auto;
    margin-top: -4px;
    max-height: 15px;
}
.page .section p img.math.line1 {
    margin-top: -7px;
    max-height: 19px;
}
.page .section p img.math.line2 {
    margin-top: -1px;
    max-height: 30px;
}

/* page header and footer */

.pdf-footer,
.pdf-header {
    margin-top: 20px;
    color: #aaa;
}
.pdf-footer .sub {
    padding-top: 8px;
    font-size: 70%;
}
.pdf-header .sub {
    padding-top: 2px;
    font-size: 70%;
}
.pdf-footer {
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.pdf-footer .footer-pages-count {
    float: right;
}
.pdf-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.pdf-header .header-pages-count {
    float: right;
    text-align: right;
}
.pdf-header .header-pages-count a,
.pdf-header .header-pages-count a:visited,
.pdf-header .header-pages-count a:active,
.pdf-header .header-pages-count a:focus,
.pdf-header .header-pages-count a:link {
    text-decoration: none;
    color: #aaa;
    cursor: text;
}
